/* Général */
@font-face {
    font-family: 'Carefus Normal';
    src: url("fonts/CaferusNormal.otf") format("otf");
}

body, h1, h2, p {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: "Caferus Normal";
}





































































































































































































































































































































































































































































































/* FOOTER */
.bg-brown-light{
    background: #422E1A;
}