/* Général */
@font-face {
    font-family: 'Carefus Normal';
    src: url("fonts/CaferusNormal.otf") format("otf");
}

body, h1, h2, p {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: "Caferus Normal";
}





































































































































































































































































































































































































































































































/* FOOTER */
/* colors */
.bg-brown-light{
    background: #5B4024;
}
.bg-brown{
    background: #422E1A;
}
.bg-brown-dark{
    background: #312213;
}
.font-helvetica{
    font-family: Helvetica, Arial, sans-serif;
}
.text-yellow{
    color: #eeb574;
}
.mt-30{
    margin-top: 1.875rem;
}

.mb-66{
    margin-bottom: 4.125rem;
}